body {
  font-family: arial, verdana, sans-serif;
}

#container {
  width: 728px;
}

#videoplayer {
  position: relative;
  background-color: #000;
  /* border-radius: 5px; */
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.5);
  width: 300px;
  height: 250px;
}

#content-wrapper {
  position: relative;
}
#mainSticky {
  position: fixed;
  bottom: 0;
  display: none;
}

#playpause {
  position: absolute;
  left: 15px;
  bottom: 15px;
  height: 20px;
  width: 40px;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 5px;
  border: 1px transparent solid;
  color: #000;
  cursor: pointer;
  border-color: #000;
  line-height: 0;
}

#playpause:hover {
  border: 1px #f00 solid;
  color: #f00;
}

#fullscreen {
  position: absolute;
  bottom: 15px;
  right: 25px;
  height: 20px;
  width: 40px;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 5px;
  border: 1px transparent solid;
  color: #000;
  /* cursor: pointer; */
  border-color: #000;
  line-height: 0;
}

#fullscreen:hover {
  border: 1px #f00 solid;
  color: #f00;
}

#content {
  overflow: hidden;
}

#content,
#adcontainer {
  position: absolute;
  width: 640px;
  height: 360px;
}

#companionDiv,
#customClick {
  width: 728px;
}
#customClick {
  background-color: #807f80;
  display: none;
  text-align: center;
}

#customClickTextWrapper {
  display: table-cell;
  vertical-align: middle;
}

#mute {
  position: absolute;
  left: 70px;
  bottom: 15px;
  height: 20px;
  width: 40px;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 5px;
  border: 1px transparent solid;
  color: #000;
  cursor: pointer;
  border-color: #000;
  line-height: 0;
}

#mute:hover {
  border: 1px #f00 solid;
  color: #f00;
}

#closeAds {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 20px;
  width: 40px;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 5px;
  border: 1px transparent solid;
  color: #000;
  cursor: pointer;
  border-color: #000;
  line-height: 0;
}

#closeAds:hover {
  border: 1px #f00 solid;
  color: #f00;
}

#reloadAds {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 20px;
  width: 40px;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 5px;
  border: 1px transparent solid;
  color: #000;
  cursor: pointer;
  border-color: #000;
  line-height: 0;
}

#reloadAds:hover {
  border: 1px #f00 solid;
  color: #f00;
}

#countdownUi {
  position: absolute;
  right: -5px;
  bottom: -10px;
  height: 20px;
  width: 40px;
  font-weight: normal;
  font-size: 12px;
  opacity: 0.5;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  line-height: 0;
}

#progressAds{
  position: absolute;
  background-color: rgb(80, 97, 5);
  height: 3px;
  width: 100%;
  bottom: 0;
}
progress::-moz-progress-bar { background: rgb(209, 126, 1); }
progress::-webkit-progress-value { background: rgb(209, 126, 1);; }
