body {
  font-family: arial, verdana, sans-serif;
}

#container {
  width: 728px;
}

#videoplayer {
  position: relative;
  background-color: #000;
  /* border-radius: 5px; */
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.5);
  width: 300px;
  height: 250px;
}

#content-wrapper {
  position: relative;
}
#admainSticky{
  height: 250px;
  width: 300px;
  margin-top: 1000px;
}
#mainSticky {
  display: none;
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s, scale 0.3s;
  transform-origin: bottom left;
  z-index: 10000;
}
.mainSticky--outstream {
  position: fixed;
  bottom: 0;
  left: 0;
}
#fullscreen {
  position: absolute;
  bottom: 15px;
  right: 25px;
  height: 20px;
  width: 40px;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 5px;
  border: 1px transparent solid;
  color: #000;
  /* cursor: pointer; */
  border-color: #000;
  line-height: 0;
}

#fullscreen:hover {
  border: 1px #f00 solid;
  color: #f00;
}

#content {
  overflow: hidden;
}

#content,
#adcontainer {
  position: absolute;
  width: 640px;
  height: 360px;
}
#mute {
  position: absolute;
  left: 15px;
  bottom: 15px;
  height: 20px;
  width: 40px;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 5px;
  border: 1px transparent solid;
  color: #000;
  cursor: pointer;
  border-color: #000;
  line-height: 0;
}

#mute:hover {
  border: 1px #f00 solid;
  color: #f00;
}
#resizeads {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 30px;
  width: 30px;
  border-style: none;
  font-weight: bold;
  font-size: 18px;
  background-color: #ffffff9f;
  border-radius: 5px;
  border: 1px transparent solid;
  color: #000;
  cursor: pointer;
  border-color: #00000054;
  line-height: 0;
}

#resizeads:hover {
  border: 1px rgba(255, 0, 0, 0.5) solid;
  color: #f00;
}
#countdownUi {
  position: absolute;
  right: 0px;
  bottom: -10px;
  height: 20px;
  width: 40px;
  font-weight: normal;
  font-size: 11px;
  opacity: 0.5;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  line-height: 0;
}

#progressAds {
  position: absolute;
  background-color: rgb(80, 97, 5);
  height: 3px;
  width: 100%;
  bottom: 0;
}
progress::-moz-progress-bar {
  background: rgb(209, 126, 1);
}
progress::-webkit-progress-value {
  background: rgb(209, 126, 1);
}

#bannerAfter {
  position: fixed;
  left: 0;
  bottom: 0px;
  height: 250px;
  width: 300px;
  transition: transform 0.7s;
  z-index: 9999;
}

#closeBanner {
  position: absolute;
  left: 0px;
  top: -20px;
  height: 20px;
  display: none;
  width: 40px;
  border-style: none;
  font-weight: bold;
  font-size: 40px;
  background-color: #fff;
  border-radius: 0 5px 0 0;
  cursor: pointer;
  border-top: 2px solid #e1e1e1;
  border-left: 2px solid #e1e1e1;
  border-right: 2px solid #e1e1e1;
  transition: transform 0.7s;
}
.bannerAfterClose--transition {
  transform: translateY(100%);
}
.closeBanner--transition {
  transform: translateY(0%);
}
